:root {
  --yellow-button: #ff900e;
  --white-font: #fafafa;
  --white-text: #c0bdbd;
  --full-white-text: #ffffff;
  --background-color:#041636;
}
body{
  background-color:var(--background-color) ;
}
/********************************************** common style ****************** */
.explore-common {
  font-size: 1rem;
  text-align: center;
  color: var(--full-white-text);
  background-color: var(--yellow-button);
  padding: 15px 15px;
  border: 0;
  border-radius: 5px;
    box-shadow: 0px 10px 30px rgba(250, 215, 18, 0.3);
  position: relative;
    overflow: hidden;
}
.explore-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragraph-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: var(--white-text);
  margin-bottom: 20px;
  text-align: left;
}
.h2-heading {
  font-weight: bold;
  font-size: 2rem;
  color: var(--white-font);
  margin-bottom: 15px;
}
.card {
}
.explore-common span:nth-child(1),.f-card span:nth-child(1){
  width: 100%;
  height: 2px;
  position: absolute;
  background: linear-gradient(to right,rgb(247, 244, 244),var(--yellow-button));
  top: 0;
  left: 0;
  animation:animation1 4s linear infinite;
}
@keyframes animation1{
  0%{
    transform:  translateX(-100%);

  }100%{
    transform: translateX(100%);
  }
}
.explore-common span:nth-child(2),.f-card span:nth-child(2){
  width: 2px;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom,rgb(247, 244, 244),var(--yellow-button));
  top: 0;
  right: 0;
  animation:animation2 4s linear infinite;
}
@keyframes animation2{
  0%{
    transform:  translateY(-100%);

  }100%{
    transform: translateY(100%);
  }
}
.explore-common span:nth-child(3),.f-card span:nth-child(3){
  width: 100%;
  height: 2px;
  position: absolute;
  background: linear-gradient(to left,rgb(247, 244, 244),var(--yellow-button));
  bottom: 0;
  right: 0;
  animation:animation3 4s linear infinite;
}
@keyframes animation3{
  0%{
    transform:  translateX(100%);

  }100%{
    transform: translateX(-100%);
  }
}
.explore-common span:nth-child(4),.f-card span:nth-child(4){
  width: 2px;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top,rgb(247, 244, 244),var(--yellow-button));
  bottom: 0;
  left: 0;
  animation:animation4 4s linear infinite;
}
@keyframes animation4{
  0%{
    transform:  translateY(100%);

  }100%{
    transform: translateY(-100%);
  }
}
.explore-common:hover {
  background-color: var(--white-font);
  color: var(--yellow-button);
  transition: all 1s ease-in-out;
}
.explore-common:hover span {
  background: var(--yellow-button);
}
/***************************************************** main style start********************** */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  padding-top: 10px;
}
/* **************************navbar*********************** */


nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.left-nav h3{
  color: var(--white-font);
  font-size: 1.5rem;
}
.right-nav ul {
list-style-type: none;
display: flex;
justify-content: flex-end;
}
.right-nav ul li a{
padding: 15px;
text-decoration: none;
margin: 3px;
font-size: 17px;
font-weight: 700;
color: var(--white-font);

}
.right-nav ul li a:hover{
  background: var(--yellow-button);
  color: var(--background-color);
}
/********************************** banner  section************************ */
.banner {
  display: flex;
  flex-direction: column;
}
.banner-top {
  width: 65%;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#banner-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  line-height: 5.5vw;
  text-align: center;
  margin-bottom: 10px;
  color: var(--white-font);
  animation: banner-animation 2s linear infinite;
  animation-direction: alternate-reverse;
}

.banner-image {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
.banner-image img {
  width: 100%;
}
@keyframes banner-animation{
0%{
  opacity: 0;

}
100%{
  opacity: 1;
}
}

/* ***************************** feature section **************************************************************/
.feature {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.feature-left {
  flex: 1;
  margin: 0 20px;
}
.feature-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}
.feature-left img {
  width: 100%;
}
.feature-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.feature-title {
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 80px;
}
.feature-right > .paragraph-text {
  width: 70%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}
.feature-title h2 {
  font-weight: 900;
  color: var(--white-text);
}

.feature-title > .second-title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--yellow-button);
}
.explore-more {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.feature-left img:hover{
  
  transform:rotateY(360deg);
  transition: transform 2s ease-in-out ;
}
/* ****************************************Love enjoy Feature************************* */
.love-feature {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.left-love {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  /* border: 1px solid purple; */
}
.left-love h2 {
  border-left: 4px solid var(--yellow-button);
  padding-left: 20px;
}
.left-love p {
  width: 80%;
}
.right-love {
  flex: 1;
  margin-bottom: 20px;
  /* border: 1px solid blue; */
}

.right-love img {
  width: 100%;
}
.card {
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 15px;
}
 .card:nth-child(odd):hover{
  transform: skew(-10deg);
}
 .card:nth-child(even):hover{
  transform: skew(10deg);
}
.card-heading {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--white-font);
  margin-bottom: 10px;
}
.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.experience button {
  padding: 20px;
}
.experience button h1 {
  font-size: 2.7rem;
  margin-bottom: 0px;
}
/* **********************************************Fact Section******************** */
.fact-section {
  width: 90%;
  margin: auto;
}
.fact-cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.f-card {
  /* border: 1px solid var(--yellow-button); */
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  flex: 1;
  margin: 30px;
  color: var(--white-font);
  position: relative;
  overflow: hidden;
  animation: flip-animation 2s timing-function delay iteration-count direction fill-mode;
} 

  
.f-card p {
  text-align: center;
}
/**********************************Sponsor section******** ********************/
.sponsor-section {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sponsor-section h2,
.sponsor-section p {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.sponsor-section .h2-heading{
  animation: heading-animation 3s linear infinite;
}
@keyframes heading-animation{
  0%{
    opacity: 0;
    color: linear-gradient(to right );
  }
  100%{
    opacity: 1;
  }
}
.s-logo {
  flex: 1;
  padding: 10px;
  text-align: center;
  margin: 40px;
}
/* ********************************************Copy Write ************************** */
footer {
  width: 90%;
  margin: auto;
  background-color: #fff4e7;
  padding: 20px;
  margin-bottom: 50px;
}
footer p {
  text-align: center;
}

/**************************************************** media query ******************/

@media only screen and (max-width: 768px) {
nav{
  display: flex;
  flex-direction: column;
}
.right-nav ul{
flex-direction: column;
justify-content: center;
text-align: center;
margin: 20px;
}
.right-nav ul li{
  margin: 10px;
}

  .banner {
    flex-direction: column-reverse;
  }

  .feature {
    flex-direction: column;
  }
  .feature-left {
    display: flex;
    flex-direction: column;
  }
  .love-feature {
    flex-direction: column-reverse;
  }
  .left-love p {
    margin: auto;
    margin-bottom: 20px;
  }
  .experience {
    margin-top: 0px;
  }
  .card {
    margin: auto;
    margin-bottom: 10px;
  }
  .fact-cards,
  .sponsors {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .banner {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
  }
/* love  feature */

.love-feature{
  flex-direction: column;
}
.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



/* **************** */
  .fact-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
